header{
    text-align: center;
}
img{
    border-radius: 50%;
    border: 8px solid gray;

}
.titulo{
    font-size: 38px;
    color: darkred;
}
.contato{
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    line-height: 1500%;
}
body{
    background-color: aquamarine;
}